<div class="name">
  <h5>Name filter</h5>
  <input class="name__input" type="text" />
</div>
<div class="price">
  <h5>Price filter</h5>
  <div class="price__slider"></div>
  <button class="price__set">Filter</button>
  <div class="price__display"></div>
</div>
<div class="date">
  <h5>Date filter</h5>
</div>
<div class="food">
  <h5 class="food__title">Food filter</h5>
  <div class="food__list">
    {{#each food}}
    <label for="{{ this }}">
      <input type="radio" name="food" id="{{ this }}" />
      {{ this }}
    </label>
    {{/each}}
  </div>
</div>
