<div class="product__featured">
  <div class="product__thumb">
    <img class="product__img" src="{{ this.img }}" alt="beer" />
  </div>
  <button class="product__hover"></button>
</div>
<div class="product__content">
  <h3>{{ this.name }}</h3>
  <p class="product__description">{{ this.description }}</p>
  <p class="product__price">{{ this.price }}</p>
  <button class="product__add">Add to cart</button>
</div>
