.aside {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 2px;

  & h5 {
    color: $clr-orange-400;
    padding-top: 38px;
    padding-bottom: 14px;
  }

  & p {
    color: $clr-gray-50;
  }

  & .cart {
    background-color: $clr-yello-500;
    display: grid;
    gap: 15px;
    padding-right: 12px;
    & h5 {
      padding-left: 30px;
    }
    &__list {
      padding-left: 30px;
      display: grid;
      gap: 20px;
      & .item {
        display: grid;
        grid-template-columns: 60px 1fr 30px;
        gap: 12px;
        &__content {
          display: grid;
          gap: 8px;
        }
        &__image {
          height: 100px;
          justify-self: center;
        }
        &__name {
          font-size: 1.2em;
          color: $clr-brown-400;
        }
        &__price {
          font-size: 0.9em;
          color: $clr-brown-400;
        }
        &__quantity {
          background: none;
          outline: none;
          border: none;
          border-bottom: 2px solid $clr-orange-500;
          width: 5ch;
          &:focus {
            border-bottom: 2px solid $clr-orange-400;
          }
        }
        &__remove {
          align-self: start;
          background: none;
          border: none;
          &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00d";
            color: $clr-orange-400;
            font-size: 20px;
          }
          &:hover {
            transform: scale(1.1);
            transition: transform 80ms ease-in-out;
            &::before {
              color: $clr-orange-500;
              transition: color 100ms ease-in-out;
            }
          }
          &:active {
            transition: transform 80ms ease-in-out;
            transform: scale(0.9);
          }
        }
      }
    }
    & .total {
      padding: 20px;
      margin-bottom: 20px;
      border-top: 2px solid $clr-yello-400;
      border-bottom: 2px solid $clr-yello-400;
      text-align: end;
      justify-self: center;
      width: 80%;

      &__price {
        color: $clr-orange-400;
      }
    }
  }

  & .filters {
    background-color: $clr-yello-500;
    padding: 0 30px;
    & .name {
      &__input {
        background-color: $clr-gray-50;
        color: $clr-brown-400;
        line-height: 35px;
        padding-left: 8px;
        border: none;
        border-bottom: 2px solid $clr-orange-500;
        &:focus {
          border: none;
          outline: none;
          border-bottom: 2px solid $clr-orange-400;
        }
      }
    }
    & .price {
      display: grid;
      gap: 16px;
      &__display {
        place-self: end;
        color: $clr-brown-400;
      }
      & .noUi-connect {
        background-color: $clr-orange-400;
      }
      // & .noUi-base {
      //   z-index: -1;
      // }
    }
    & .date {
      display: grid;
      &__label {
        padding-bottom: 8px;
        padding-top: 20px;
        text-transform: uppercase;
      }
      &__input {
        background-color: $clr-gray-50;
        color: $clr-brown-400;
        line-height: 35px;
        padding-left: 8px;
        border: none;
        border-bottom: 2px solid $clr-orange-500;
        &:focus {
          border: none;
          outline: none;
          border-bottom: 2px solid $clr-orange-400;
        }
      }
    }
    & .food {
      padding-bottom: 38px;
      &__list {
        position: relative;
        display: grid;
        gap: 4px;
      }
      & label {
        line-height: 20px;
        height: 20px;
        position: relative;
        padding-left: 10px;
        user-select: none;

        color: $clr-brown-400;
        &:hover {
          color: $clr-orange-500;
        }
        & input {
          appearance: none;
          &:checked::before {
            font-family: "font awesome 5 free";
            font-weight: 900;
            content: "\f054";
            color: $clr-yello-600;
            font-size: 12px;
            position: absolute;
            top: 3px;
            left: 0;
          }
        }
      }
    }
    &__buttons {
      button {
        display: inline;
        border: none;
        padding: 16px 25px;
        justify-self: end;
        color: $clr-gray-50;
        background-color: $clr-orange-400;
        transition: transform 80ms ease-in-out;
        &:hover {
          transform: scale(1.015);
        }
        &:active {
          transform: scale(0.99);
        }
      }
      padding-bottom: 35px;
    }
  }
}
