.aside {
  display: grid;
  grid-template-rows: 186px 1fr;
  row-gap: 2px;

  & h5 {
    color: $clr-orange-400;
    padding-top: 52px;
    padding-bottom: 28px;
  }

  & p {
    color: $clr-gray-50;
  }

  & .cart {
    background-color: $clr-yello-500;
    padding-left: 30px;
  }

  & .filters {
    background-color: $clr-yello-500;
    padding: 0 30px;
    & .name {
      &__input {
        background-color: $clr-gray-50;
        color: $clr-brown-400;
        line-height: 35px;
        padding-left: 8px;
        border: none;
        border-bottom: 2px solid $clr-orange-500;
        &:focus {
          border: none;
          outline: none;
          border-bottom: 2px solid $clr-orange-400;
        }
      }
    }
    & .price {
      display: grid;
      gap: 16px;
      &__set {
        border: none;
        padding: 16px 35px;
        justify-self: end;
        text-transform: uppercase;
        color: $clr-gray-50;
        background-color: $clr-orange-400;
      }
      &__display {
        place-self: end;
        color: $clr-brown-400;
      }
      & .noUi-connect {
        background-color: $clr-orange-400;
      }
    }
    & .food {
      &__list {
        position: relative;
        display: grid;
        gap: 4px;
      }
      & label {
        line-height: 20px;
        height: 20px;
        position: relative;
        padding-left: 10px;
        user-select: none;

        color: $clr-brown-400;
        &:hover {
          color: $clr-orange-500;
        }
        & input {
          appearance: none;
          &:checked::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f054";
            color: $clr-yello-600;
            font-size: 12px;
            position: absolute;
            top: 3px;
            left: 0;
          }
        }
      }
    }
  }
}
