.ref {
  position: absolute;
  top: 0;
  left: -5px;
  display: none;
  filter: opacity(50%);
}

.layout {
  // height: 2616px;

  position: relative;
  z-index: -100;
  background-color: $clr-yello-400;

  display: grid;
  grid-template-columns: minmax(0, 1fr) 270px 870px minmax(0, 1fr);
  column-gap: 30px;
  grid-template-rows: 82px 212px 104px 445px 1046px 90px 612px;
  grid-template-areas:
    "h h h h"
    ". . . ."
    ". a m ."
    ". a m ."
    ". . m ."
    ". . . ."
    "f f f f";

  .header {
    grid-area: h;
  }
  .aside {
    grid-area: a;
  }
  .main {
    grid-area: m;
  }
  .footer {
    grid-area: f;
  }
}
