.ref {
  position: absolute;
  top: 0;
  left: -5px;
  filter: opacity(87%);
}

.layout {
  position: relative;

  display: grid;
  grid-template-columns: minmax(0, 1fr) 270px 870px minmax(0, 1fr);
  column-gap: 30px;
  grid-template-rows: 82px 212px auto auto 90px 612px;
  grid-template-areas:
    "h h h h"
    ". . . ."
    ". a m ."
    ". . m ."
    ". . . ."
    "f f f f";

  &__bg {
    background-color: $clr-yello-400;
    grid-area: 1 / 1 / -1 / -1;
    z-index: -100;
  }

  .header {
    grid-area: h;
  }
  .aside {
    grid-area: a;
  }
  .main {
    grid-area: m;
  }
  .footer {
    grid-area: f;
  }
}
